.productsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 80px;
    padding: 10px 70px;
}
.btn {
    width: 100%;
    background-color: #5048e5;
    columns: #ffffff;
    margin-top: 10px;
}
.topContent {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.topContent > * {
    margin-right: 8px;
}
.itemCard,
.itemCardBadge {
    margin: 8px;
}
@media (max-width: 392px) {
    .productsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin: 80px;
        padding: 10px 70px;
    }
    .topContent {
        display: flex;
        width: 100%;
        align-items: center;
        padding-top: 10%;
        flex-direction: column;
    }
}
