.product_detail {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 60px;
    justify-content: center;
    align-items: center;
}

.title_box {
    display: flex;
    width: 100%;
}

.title {
    /* Typography/H4 */
    font-family: Inter;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 137.5% !important;
    margin-left: 200px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1300px;
    height: 700px;
    /*min-height: 100vh; /* Ensure the container fills the entire viewport height */
    background-color: #ffffff; /* Set the background color as desired */
    padding: 20px; /* Adjust the padding as needed */
}

.col_left {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    height: 100%;
}

.col_right {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    height: 100%;
}

.itemCardImage {
    height: 150px !important;
    /* object-fit: scale-down; */
}

.product_category {
    text-align: left;

    color: #6b7280;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 137.5%; /* 22px */
}

.product_name {
    color: #535353;
    /* Typography/H4 */
    font-family: Inter;
    font-size: 32px !important;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 137.5% !important; /* 44px */
    margin: 10px 0px !important;
}

.product_price_tag {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.product_price {
    color: #111827;
    /* Typography/H4 */
    font-family: Inter;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 137.5% !important; /* 44px */
    margin: 0px !important;
}

.product_description {
    color: #6b7280;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 137.5%; /* 22px */
    margin: 10px 0px !important;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

@media screen and (max-width: 392px) {
    .product_detail {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0px;
        justify-content: center;
        align-items: center;
    }

    .title {
        /* Typography/H4 */
        font-family: Inter;
        font-style: normal;
        font-weight: 700 !important;
        line-height: 137.5% !important;
        margin: 20px 0px;
    }

    .mobile_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff; /* Set the background color as desired */
        padding: 20px;
    }

    .mobile_texts {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px;
    }
}
.topContent {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
